<h4 id="h1user">All Your Challenges</h4>


<div class="container" id="challengeinfo">
	<div class="challengeusers">You have <%= @user.challenges.count %> challenges</div>

	<ul>
		<% @challenges.each do |challenge| %>
			<li><%= challenge.name %></li>
		<% end %>
	</ul>
</div>