<h4 id="thanks">Thanks for joining another challenge!</h4>


<div class="container" id="challengeinfo">
	<div class="challengeusers">You have <%= @user.challenges.count %> challenge(s)</div>

	<ul>
		<% @challenges.each do |challenge| %>
			<li><%= challenge.name %></li>
		<% end %>
	</ul><br><br>
	<%= link_to "Back to Profile", user_path(current_user), :class => 'btn btn-primary'%><br>
</div>

