<div>
	Welcome, <%= @user.first_name %>
</div>

<h4><%= link_to "Challenges", challenges_path %></h4>

<h3>upcoming challenges</h3>

<% @user.challenges.each do |challenge| %>
	<div>
		<h3><%= link_to challenge.name, challenge_path(challenge) %></h3>
	</div>
<% end %> 

<h3>completed challenges</h3>