/*
 / * This is a manifest file that'll be compiled into application.css, which will include all the files
 / * listed below.
 / *
 / * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 / * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 / *
 / * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 / * compiled file so the styles you add here take precedence over styles defined in any styles
 / * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 / * file per style scope.
 / *
 / *= require_tree .
 / *= require_self
 / */

#brvename {
	font-family: 'Michroma', sans-serif;
	font-size: 120px;
	font-weight: 900;
	text-align: center;
	margin: 0;
	padding-top: 20%;
	color: #FFF;
}

#brveicon {
	font-family: 'Michroma', sans-serif;
	color: #000;
}


.homelink {
	list-style-type: none;
}

/*#SO {
	margin-right:20px;
	margin-left: -10px;
}*/

.container {
	width: 80%;
}

.userhome {
	font-size: 3em;
	margin-bottom: 40px;
}

#upcoming {
	font-size: 2em;
	font-family: 'Michroma', sans-serif;
}

#edituser{
	text-align: center;
}

#newuser {
	text-align: center;
}

#h1user {
	font-family: 'Michroma', sans-serif;
	text-align: center;
	margin-bottom: 40px;
}

#deleteuser {
	text-align: center;
}

.createform {
	text-align: center;
}

#challengeinfo {
	text-align: center;
}

.postbody {
	text-align: center;
}

.posttitle {
	color: grey;
}

.profileimg {
	height: auto; 
    width: auto; 
    max-width: 250px; 
    max-height: 250px;
    text-align: center;
}

.thumbnail {
	height: ;

}

.challengeusers {
	font-size: 3em;
	margin-bottom: 20px;
}

ul {
	list-style-type: none;
}

#brvehomepage {
	background: url("http://i.kinja-img.com/gawker-media/image/upload/tndkklvnxeoprzcusexl.jpg")
	no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 0;	
    height: 750px;
}

.navbar {
	margin: 0;
	height: 100%;
}

.flash {
	color: red;
	font-size: 2em;
	text-align: center;
}

