Challenges go here!

<% @challenges.each do |challenge| %>
	<div>
		<h2><%= link_to challenge.name, challenge_path(challenge) %></h2>
		<%= challenge.description %><br>
		<%= challenge.reward %>
	</div>

	<% if @current_user %>
		<%= button_to "Join", challenge_users_path(challenge) %>
	<% end %>
	<br>

<% end %>

<div>
